/**
 * @author jevgeni dot virves at gmail dot com
 * @since 2017-03-19
 */


html {
  width:                  100%;
  height:                 100%;
}

body {
  width:                  100%;
  height:                 100%;
  margin:                 0;
  overflow:               hidden
}

div.vmap {
  display:                block;
  box-sizing:             border-box;
  position:               relative;
}

.vmap.wrapper {
  width:                  100%;
  height:                 100%;
}

.vmap.sidebar {
  position:               absolute;
  top:                    0;
  right:                  0;
  bottom:                 0;
  width:                  200px;
}

.vmap.map {
  position:               absolute;
  top:                    0;
  left:                   0;
  right:                  200px;
  bottom:                 0;
}
